/* background: 161618 */
/* navbar: 1c1c1e */

*, *::before, *::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #161618;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

header {
    background-color: #1c1c1e;
}

header div {
    font-family: "Sevillana", cursive;
    font-size: 22px;
    padding: 12px;
}

main {
    display: flex;
    flex-direction: column;
}

.frame-container {
    display: flex;
    gap: 160px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.controls-container {
    height: 530px;
    /* padding: 48px; */
    /* margin: 22px auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#color {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 0;
    border: 1px solid #DDD;
    box-shadow: 2px 2px 4px rgba(255,255,255,0.2);
  }
  
#color::-moz-color-swatch {
    border: none;
  }
  
#color::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
  }
  
#color::-webkit-color-swatch {
    border: none;
  }

.btn {
    width: 100%;
    border: none;
    font-family: "Ruda", sans-serif;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    border: 1px solid #515151;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(255,255,255,0.2);
}

.btn:hover,
#color:hover,
#gridWidth:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: "Ruda", sans-serif;
}

input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-animation: .2s;
    transition: opacity .2s;
    box-shadow: 2px 2px 4px rgba(255,255,255,0.2);
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
    background: #ff0000;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

/* for firefox */
input[type='range']::-moz-range-thumb {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #ff0000;
    cursor: pointer;
}

.active-btn {
    background-color: #161618;
    color: white;
    font: bold;
    transition: .2s ease-in-out;
}

/* btn, input[type='color'] {
    transition: transform 0.1s ease-in-out;
} */

/* #color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
} */

.frame {
    height: 530px;
    width: 750px;
    /* margin: 22px auto; */
    padding: 22px;
    background-color: #cf0000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    /* copy pasta :p */
    box-shadow: 0px 1px 0 rgba(255,255,255,0.05) inset, 1px 0px 0 rgba(255,255,255,0.05) inset,
    1px 2px 0 rgba(255,255,255,0.02) inset, 2px 1px 0 rgba(255,255,255,0.02) inset,
    2px 3px 0 rgba(255,255,255,0.02) inset, 3px 2px 0 rgba(255,255,255,0.02) inset,
    3px 4px 0 rgba(255,255,255,0.02) inset, 4px 3px 0 rgba(255,255,255,0.02) inset,
    4px 5px 0 rgba(255,255,255,0.02) inset, 5px 4px 0 rgba(255,255,255,0.02) inset,
    5px 6px 0 rgba(255,255,255,0.02) inset, 6px 5px 0 rgba(255,255,255,0.02) inset,
    6px 7px 0 rgba(255,255,255,0.02) inset, 7px 6px 0 rgba(255,255,255,0.02) inset,
    7px 9px 0 rgba(255,255,255,0.02) inset, 8px 7px 0 rgba(255,255,255,0.02) inset,
    8px 9px 0 rgba(255,255,255,0.02) inset, 9px 8px 0 rgba(255,255,255,0.02) inset,

    -0px -1px 0 rgba(0,0,0,0.05) inset, -1px -0px 0 rgba(0,0,0,0.05) inset,
    -1px -2px 0 rgba(0,0,0,0.05) inset, -2px -1px 0 rgba(0,0,0,0.05) inset,
    -2px -3px 0 rgba(0,0,0,0.05) inset, -3px -2px 0 rgba(0,0,0,0.05) inset,
    -3px -4px 0 rgba(0,0,0,0.05) inset, -4px -3px 0 rgba(0,0,0,0.05) inset,
    -4px -5px 0 rgba(0,0,0,0.05) inset, -5px -4px 0 rgba(0,0,0,0.05) inset,
    -5px -6px 0 rgba(0,0,0,0.05) inset, -6px -5px 0 rgba(0,0,0,0.05) inset,
    -6px -7px 0 rgba(0,0,0,0.05) inset, -7px -6px 0 rgba(0,0,0,0.05) inset,
    -7px -9px 0 rgba(0,0,0,0.05) inset, -8px -7px 0 rgba(0,0,0,0.05) inset,
    -8px -9px 0 rgba(0,0,0,0.05) inset, -9px -8px 0 rgba(0,0,0,0.05) inset,

    0 0 3px rgba(0,0,0,0.3), 2px 2px 3px rgba(0,0,0,0.3);
}

.logo {
    color: rgb(255, 230, 201);
    font-family: "Ruda", sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}

.logo span {
    margin: 0px 22px;
    font-family: "Sevillana", cursive;
    font-size: 28px;
    font-weight: normal;
}

#canvas {
    width: 560px;
    height: 360px;
    background-color: silver;
    aspect-ratio: 590 / 360;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    /* copy pasta :p */
    box-shadow: 0px 1px 0 rgba(255,255,255,0.08), 1px 0px 0 rgba(255,255,255,0.08),
    1px 2px 0 rgba(255,255,255,0.08), 2px 1px 0 rgba(255,255,255,0.08),
    2px 3px 0 rgba(255,255,255,0.08), 3px 2px 0 rgba(255,255,255,0.08),
    3px 4px 0 rgba(255,255,255,0.08), 4px 3px 0 rgba(255,255,255,0.08),
    4px 5px 0 rgba(255,255,255,0.08), 5px 4px 0 rgba(255,255,255,0.08),

    -0px -1px 0 rgba(0,0,0,0.05), -1px -0px 0 rgba(0,0,0,0.05),
    -1px -2px 0 rgba(0,0,0,0.05), -2px -1px 0 rgba(0,0,0,0.05),
    -2px -3px 0 rgba(0,0,0,0.05), -3px -2px 0 rgba(0,0,0,0.05),
    -3px -4px 0 rgba(0,0,0,0.05), -4px -3px 0 rgba(0,0,0,0.05),
    -4px -5px 0 rgba(0,0,0,0.05), -5px -4px 0 rgba(0,0,0,0.05);
}

.knob-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.knob {
    display: inline-block;
    height: 65px;
    width: 65px;
    background-color: white;
    border-radius: 50%;

    box-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 3px rgba(0,0,0,0.7) inset;
}